:root {
    --primaryColor: #0D9488;
    --secondaryColor: #F0F5F2;
    --mainFont: "Outfit", sans-serif;
    --contentFont: "Heebo", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primaryFont);
}

/* header starts */

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    color: var(--primaryColor);
    font-family: var(--contentFont);
}

.navbar-brand:hover {
    transition: all 1s;
}

.nav-item a {
    color: #000;
    transition: all 0.5s;
    font-size: 19px;
}

.nav-item:hover a {
    color: var(--primaryColor);

}

.shopping-bag i {
    font-size: 25px;
    color: var(--primaryColor);
    transition: all 0.5s;

}

.shopping-bag i:hover {
    color: #000;
}

/* header ends */

/* header responsive starts */

@media screen and (max-width: 991px) {

    .navbar-toggler {
        font-size: 17px;
    }

    .shopping-bag i {
        font-size: 33px;
    }
}

/* header responsive ends */

/* hero starts */

.hero {
    padding: 90px 0;
    background-color: var(--primaryColor);
}

.hero h1 {
    font-size: 45px;
    font-weight: 500;
}

.hero p {
    font-size: 25px;
    width: 65%;
}

.hero .btn {
    font-size: 25px;
    position: relative;
    color: #fff;
    background: transparent;
    border: none;
    padding: 20px 24px;
    transition: all 1s;
    z-index: 1;
}

.hero .btn::before {
    content: '';
    position: absolute;
    inset: -15px -20px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1240 600"><path d="M460.3 531c-106.7-3.3-217.2-12.7-315.6-56.5C88 448.7 32.7 394.4 37 327.8c3.2-36 29-64 53.5-88.3C191.8 144.2 332.1 108 465.9 86.2c164-25.2 332-22.5 495.8 2.7 15.7.9 175 34.4 136.2 49.7 73.3 30.4 139 103 86.1 181.7-32.6 46.3-85.7 73.2-135.4 97.6C963 457 870.8 479.5 779 498.6c-104.8 21.1-211.5 35-318.5 32.5Zm28.5-16.5c155.2 2.7 623.7-69.6 687.7-223.9 28.8-82.1-66-134.7-132.5-153a1727.2 1727.2 0 0 0-139-33.7c-6.6-1.8-18.7-1-17.8-10.6-216.3-22.4-493-11.6-689 89.6-56.6 31.2-163.8 103-138.7 178.2 13.4 45.7 52 79.2 94 98.8 105 45.6 222.2 53.2 335.3 54.6Z" fill="%23FFFFFF"></path></svg>') center / contain no-repeat;
    z-index: -1;
    transition: all 1s;
}

.hero .btn:hover {
    color: #000;
}

.hero .btn:hover::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1240 600"><path d="M460.3 531c-106.7-3.3-217.2-12.7-315.6-56.5C88 448.7 32.7 394.4 37 327.8c3.2-36 29-64 53.5-88.3C191.8 144.2 332.1 108 465.9 86.2c164-25.2 332-22.5 495.8 2.7 15.7.9 175 34.4 136.2 49.7 73.3 30.4 139 103 86.1 181.7-32.6 46.3-85.7 73.2-135.4 97.6C963 457 870.8 479.5 779 498.6c-104.8 21.1-211.5 35-318.5 32.5Zm28.5-16.5c155.2 2.7 623.7-69.6 687.7-223.9 28.8-82.1-66-134.7-132.5-153a1727.2 1727.2 0 0 0-139-33.7c-6.6-1.8-18.7-1-17.8-10.6-216.3-22.4-493-11.6-689 89.6-56.6 31.2-163.8 103-138.7 178.2 13.4 45.7 52 79.2 94 98.8 105 45.6 222.2 53.2 335.3 54.6Z" fill="%23000000"></path></svg>');
}

.hero .btn-check:checked+.btn,
.hero .btn.active,
.hero .btn.show,
.hero .btn:first-child:active,
.hero :not(.btn-check)+.btn:active {
    border: none;
}

.hero .horizontal-rule {
    width: 430px;
}

/* hero ends */

/* hero responsive starts */

@media screen and (max-width: 992px) {

    .hero p {
        width: 80%;
    }

}

@media screen and (max-width: 768px) {

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
        width: 100%;
    }

    .hero .horizontal-rule {
        width: 400px;
    }

}

@media screen and (max-width: 576px) {

    .hero {
        padding: 70px 0;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero .btn {
        font-size: 21px;
    }

    .hero .horizontal-rule {
        width: 350px;
    }

}

@media screen and (max-width: 430px) {

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 15px;
    }

    .hero .btn {
        font-size: 15px;
    }

    .hero .horizontal-rule {
        width: 280px;
    }

}

@media screen and (max-width: 375px) {

    .hero {
        padding: 30px 0;
    }

    .hero h1 {
        font-size: 25px;
    }

    .hero p {
        font-size: 13px;
    }

    .hero .btn {
        font-size: 13px;
    }

    .hero .horizontal-rule {
        width: 220px;
    }

}

/* hero responsive ends */